@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700');
@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300;400;500;600;700');
@tailwind base;
@tailwind components;
@tailwind utilities;

// global scrollbar

::-webkit-scrollbar {
  @apply w-4;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-amber-200;
  @apply rounded-xl;
  border: 4px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-amber-300;
}

body {
  font-family: 'Quicksand', sans-serif;
}
